language: rust
cache: cargo
env: # required for allow_failures
rust:
  - stable
  - beta
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - rust: nightly

  include:

  - rust: stable
    script:
    - cargo update
    - cargo test --all --locked --verbose
    - cargo doc --verbose
    - rustup component add rustfmt-preview
    - cargo fmt -- --write-mode=diff

  - rust: nightly
    script:
    - cargo update
    - cargo test --locked
    - rustup component add rustfmt-preview
    - cargo fmt --all -- --check

branches:
  only:
    - master

deploy:
  provider: pages
  local-dir: target/doc
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch: master
