[package]
name = "webbrowser"
description = "Open URLs in web browsers available on a platform"
version = "0.5.3"
authors = ["Amod Malviya @amodm"]
documentation = "http://code.rootnet.in/webbrowser-rs/webbrowser"
homepage = "https://github.com/amodm/webbrowser-rs"
repository = "https://github.com/amodm/webbrowser-rs"
readme = "README.md"
keywords = ["webbrowser", "browser"]
license = "MIT OR Apache-2.0"
edition = "2015"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.6", features = ["combaseapi", "objbase", "shellapi", "winerror"] }
widestring = "0.4.0"
